﻿.dialog_over {
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, .6);
    position: fixed;
    z-index: 7;
}

#login_dialog {
    width: 360px;
    height: 420px;
    background: coral;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -180px;
    z-index: 8;
}

#login_dialog .mid_position {
    width: 280px;
    height: 350px;
    position: absolute;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -140px;
}

/*让这些内容居中，宽度样式抽取为m6-240*/
.m8-w240-h40 {
    margin: 8px auto;
    width: 240px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.login_txtinfo {
    text-indent: -20px;
    margin-right: 16px;
}

.login_input_style {
    height: 26px;
    width: 160px;
    outline-style: none; /*去除焦点时样式[蓝色线条框]*/
    /*outline-offset: 16px; 矩形外面加轮廓*/
    line-height: 14px; /*input文字问题的处理方式是这样的，行高和字体大小一样，input的高度也和行高一样*/
    font-size: 14px;
    text-indent: 6px; /*让输入框文字，往左边一点点*/
    border: none;
    background: bisque;
}

#login_dialog .mid_position .logo {
    width: 160px;
    height: 50px;
    background-image: url("../images/myblog.png");
    background-size: 160px 50px;
}

.verification {
}

/*清除浮动*/
.verification:after {
    　　　content: ""; /*设置内容为空*/
    　　　　　　height: 0; /*高度为0*/
    　　　　　　line-height: 0; /*行高为0*/
    　　　　　　display: block; /*将文本转为块级元素*/
    　　　　　　visibility: hidden; /*将元素隐藏*/
    　　　　　　clear: both; /*清除浮动*/
}

.verify_img {
    box-sizing: border-box;
    width: 160px;
    text-align: center;
}

.verify_img img {
    display: inline-block;
    border-radius: 2px;
}

.change_btn {
    width: 80px;
    text-align: center;
    line-height: inherit;
}

.submit_btn {
    width: 50%;
    float: left;
    background: darkcyan;
    border-radius: 4px;
    color: #f2f2f2;
}

.autologins_7days {
    width: 50%;
    float: left;
    font-size: 12px;
}

.autologins_7days input {
    vertical-align: sub;
}